# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/clocks_dashboard?schema=public"

# API Externa (n8n)
NEXT_PUBLIC_API_BASE=https://automation.dimensiontei.com/webhook/clocks
NEXT_PUBLIC_API_ARCHIVE=https://automation.dimensiontei.com/webhook/archive-item
API_USER=relojes
API_PASS=nnS4MDu9DcJb

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
